$main-blue: #77CDDE;
$secondary-blue: #37808D;
$main-green: #4AA17E;
$secondary-green: #0C6448;

body{
    margin: 0;
    line-height: 1.7em;
    font-size: 1.3em;
}

#app{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px auto 100px;
}

footer{
    grid-column: 1 / -1;
    grid-row: 3 / 5;
    background-color: $main-green;
    color: white;
    text-align: center;
}

/* ===========================================================================
   ============================   NAVIGATION    ==============================
   ===========================================================================*/

#nav{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

header{
    background: $main-green;
    z-index: 999;
    height: 80px;
}

   nav{
    position: relative;
    top: 19%;
}

ul.main-menu{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-right: 40px;
}

li.menu-item{
    list-style-type: none;
    text-align: center;
    display: block;
    box-sizing: border-box;
}

li.logo-li{
    margin-right: auto;
    margin-top: 10px;
    width: 400px;
}

.test{
    width: 1000px;
    height: 300px;
}

li.menu-item a{
    text-decoration: none;
    display: block;
    padding: 15px 30px 15px 30px;
    text-align: center;
    color: white;
    font-size: 1.5em;
    transition: background-color 0.3s ease-in-out,
                color 0.5s ease-in-out;
}

li.menu-item a:hover{
    color: $main-green;
    background-color: white;
    cursor: pointer;
}

li.logo-li a{
    padding: 0;
}

li.logo-li a:hover{
    background-color: $main-green;
    cursor: pointer;
}

.bars{
    color: white;
    font-size: 2em;
}

/* ===========================================================================
   ============================   HOME VIEW    ===============================
   ===========================================================================*/

.home{
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
}

#about-wrapper{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: $main-green;

    #about{
        grid-column: 6 / -2;
        grid-row: 2 / 9;

        p, h1{
            color: white;
        }

        .about-quote{
            font-size: 1.4em;
            font-style: italic;
            text-align: center;
            padding: 30px;
        }
    }

    img{
        grid-column: 2 / 5;
        grid-row: 3 / 10;
        width: 400px;
        height: auto;
        margin-bottom: 10px;
    }
}

#app-guide-wrapper{
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: auto repeat(11, 1fr);
    row-gap: -10px;

    .hit-heading{
        margin: 80px 0 50px 0;
    }

    /* ====== step divs ======*/

    #hit-step1{
        grid-column: 1 / 6;
        grid-row: 2 / 7;
        height: 500px;
    }

    #hit-step2{
        grid-column: 6 / -1;
        grid-row: 2 / 7;
        background-color: $secondary-blue;
        border-radius: 270px 0 0 270px;

        p{
            color: white;
        }
    }

    #hit-step3{
        grid-column: 1 / 10;
        grid-row: 7 / -2;
        background-color: $secondary-blue;
        border-radius: 0 270px 270px 0;

        p{
            color: white;
        }
    }

    #hit-step4{
        grid-column: 10 / -1;
        grid-row: 7 / -2;
        
    }

    .hit-step{
        border-radius: 50%;
        width: 3em;
        height: 3em;
    }

    #step1, #step4{
        background-color: $secondary-blue;
    }

    #step2, #step3{
        background-color: white;

        p{
            color: white;
        }

        h2{
            color: $secondary-blue;
        }
    }

    #step1{
        margin-left: 40px;

        h2{
            text-align: center;
            padding-top: 7px;
            color: white;
        }
    }

    #step2{
        margin-left: 250px;

        h2{
            text-align: center;
            padding-top: 7px;
        }
    }

    #step3{
        margin-left: 40px;

        h2{
            text-align: center;
            padding-top: 7px;
        }
    }

    #step4{

        h2{
            text-align: center;
            padding-top: 7px;
            color: white;
        }
    }

    .step-wrapper{
        display: flex;
        
    }

    #step2-wrapper, #step4-wrapper{
        flex-direction: row-reverse;
        margin-right: 80px;
    }

    #step1-wrapper, #step3-wrapper{
        flex-direction: row;
        margin-left: 80px;
    }

    h1{
        grid-row: 1 / 2;
        grid-column: 2 / 6;

    }

    p{
        display: block;
        position: relative;
        width: 55%;
        padding-left: 30px;
        margin-top: 95px;
    }

    img{
        height: 400px;
        position: relative;
        width: auto;
        margin-top: -40px;
    }
}

#download-app-wrapper{
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    height: 1080px;
    background-color: $main-blue;

    img{
        display: block;
        height: 500px;
        width: 500px;
        margin: auto;
        margin-top: 200px;
    }

    h1{
        display: block;
        text-align: center;
        margin-top: 70px;
        font-size: 2.5em;
        color: white;
    }
}