$main-blue: #77CDDE;
$secondary-blue: #37808D;
$main-green: #4AA17E;
$secondary-green: #0C6448;

body{
    margin: 0;
    line-height: 1.7em;
    font-size: 1.3em;
}

#app{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px auto 100px;
}

footer{
    grid-column: 1 / -1;
    grid-row: 3 / 5;
    background-color: $main-green;
    color: white;
    text-align: center;
}

/* ===========================================================================
   ============================   NAVIGATION    ==============================
   ===========================================================================*/

#nav{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

header{
    background: $main-green;
    z-index: 999;
    height: 80px;
}

   nav{
    position: relative;
    top: 19%;
}

ul.main-menu{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-right: 40px;
}

li.menu-item{
    list-style-type: none;
    text-align: center;
    display: block;
    box-sizing: border-box;
}

li.logo-li{
    margin-right: auto;
    margin-top: 10px;
    width: 400px;
}

.test{
    width: 1000px;
    height: 300px;
}

li.menu-item a{
    text-decoration: none;
    display: block;
    padding: 15px 30px 15px 30px;
    text-align: center;
    color: white;
    font-size: 1.5em;
    transition: background-color 0.3s ease-in-out,
                color 0.5s ease-in-out;
}

li.menu-item a:hover{
    color: $main-green;
    background-color: white;
    cursor: pointer;
}

li.logo-li a{
    padding: 0;
}

li.logo-li a:hover{
    background-color: $main-green;
    cursor: pointer;
}

.bars{
    color: white;
    font-size: 2em;
}

/* ===========================================================================
   ============================   HOME VIEW    ===============================
   ===========================================================================*/

.home{
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
}

#about-wrapper{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: $main-green;

    #about{
        grid-column: 6 / -2;
        grid-row: 3 / 9;

        p, h1{
            color: white;
        }

        .about-quote{
            font-size: 1.3em;
            font-style: italic;
            
        }
    }

    img{
        grid-column: 2 / 5;
        grid-row: 4 / 10;
        width: 400px;
        height: auto;
        margin-bottom: 10px;
    }
}